<div class='container' id='home-index'>
  <div id='scroll-section'>
    <div class='home-header panel-body'>
      <div class='title-text'>
        <h1 class='login-header'>
          Is it just me, or...?
        </h1>
      </div>
        <h3>
        ...has blogging lost its mojo? A blog should be enjoyable, not just to the reader but also the writer. Use IIJMO and take back your blogging experience!
        </h3>
        <div class='row'>
        <% if user_signed_in? %>
          <div class='col-md-6'>
            <a class="btn btn-large btn-default btn-block" href="/categories"><img alt="Kcbe1tn" border="0" height="23px" src="http://i.imgur.com/KCBe1tn.png">Go to Categories</a>
          </div>
        <% else %>
          <div class='col-md-6'>
            <a class="btn btn-large btn-primary btn-block" href="/users/auth/facebook"><img alt="Kcbe1tn" border="0" height="23px" src="http://i.imgur.com/KCBe1tn.png">Sign in with Facebook</a>
          </div>
          <div class='col-md-6'>
            <a class="btn btn-large btn-danger btn-block" href="/users/auth/google_oauth2"><img alt="Za4wbkj" border="0" height="23px" src="http://i.imgur.com/ZA4WBkj.png">Sign in with Google+</a>
          </div>
        <% end %>
      </div>
  </div>
</div>
