<body class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="panel-body">
            <h1 class="login-header">Is it just me, or...?</h1>
            <div class="form-group last">
              <div class="col-lg-6">
                <%= link_to image_tag('http://i.imgur.com/KCBe1tn.png', border: 0, height: '23px') + 'Sign in with Facebook', user_omniauth_authorize_path(:facebook), class: 'btn btn-large btn-primary btn-block' %>
              </div>
               <div class="col-lg-6">
                <%= link_to image_tag('http://i.imgur.com/ZA4WBkj.png', border: 0, height: '23px') + 'Sign in with Google+', user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-large btn-danger btn-block' %>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</body>


