<script id="category-template" type="text/x-handlebars-template">
  {{#each top8_categories}}
    <section class="scrollbreak" id='{{this.name}}' data-type="background" data-speed="10">
      <article>{{this.name}}</article>
    </section>

    for(i = 0; i < {{this.posts.count}}; i++){
      <section class="scrollback" id='{{this.post.id}}' data-type="background" data-speed="10">
      <article><blockquote class='blockquote'>
      <%= link_to {{this.posts.title}}, post_path({{this.post}}) %> - <%= {{this.post.view_counter}} %>
      <ul class='list-unstyled'><%= {{this.post.body}} %></ul>
      <footer><%= link_to 'Post Author', posts_path({{this.post.user}}) %></footer>
      </blockquote>
      </article>
      </section>
    };
  {{/each}}
</script>
