<div class='row'>
  <div class='col-md-12 top-image'>
    <div class='background-image'><p class="p-background-image">Is it just me, or...?</p></div>
  </div>
</div>
<div class='row'>
  <div class='col-md-3'>
    <div class="profile-pic-container"><img class='profile-pic' src="<%= @post.user_profile_url %>"/></div>
    <div class='author'>
      <small class='small-text'>Author</small> - <%= @post.user_name %>
    </div>
  </div>
  <div class='col-md-7'>
    <div id='blog-title'>
    </div>
  </div>
</div>
