<!-- need to add a div class container -->
<div class='header'>
  <div class='background-image'></div>
</div>
<div class='profile-pic'>
  <img style='height: 100%' src=<%= current_user.profile_url %> />
</div>
<div id='blog-title'>
  <h1 id='title'>Is it just me, or...</h1>
</div>

<!-- </div> -->
