
  <div class='row'>
    <div class='col-md-12 top-image'>
      <div class='background-image'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <img style='height: 100%' class='profile-pic' src=<%= current_user.profile_url %> />
    </div>
    <div class='col-md-8'>
      <div id='blog-title'>
        <h1 id='title'>Is is just me, or...</h1>
      </div>
    </div>
  </div>
