<div class='container'>
  <div class='row'>
    <div class='col-md-12 top-image'>
      <div class='background-image'><p class="p-background-image">Is it just me, or...?</p></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <div class="profile-pic-container"><img class='profile-pic' src=<%= @posts.first.user.profile_url %> /></div>
    </div>
    <div class='col-md-7'>
      <div id='blog-title'>
      </div>
      <div class='panel panel-default'>
        <% @posts.each do |post| %>
          <div class='post' id=<%=post.id%>>
            <h4><%= link_to post.title, post_path(post), class: 'post-title' %></h4>
            <div class='body-text'>
              <p><%= post.body.html_safe %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
